# .coveragerc to control coverage.py

[run]
#source = ~/jaycody/mypy/dev-ops-prep/
#         ~/jaycody/mypy/dev-ops-prep/calculator_app/calculate_this.py

#include = test/*
#          test_*.py

omit = ./__init__.py



[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
